$background-color_1:#464866;

footer {
    font-size: 20px;
    line-height: 1.5;
    background-color: #464866;
}

#container {
    display: flex;
    color: white;
    padding-bottom: 3rem;
}

ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;   
}

li {
    list-style: none;
}

div {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 3rem;
    justify-content: center;
}

.footer-top {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
}


a:hover {
    text-decoration:underline;
}