$background-color_1:#464866;

footer {
    font-size: 20px;
    line-height: 1.5;
    background-color: #464866;
}

.footer-container {
    display: flex;
    color: white;

}

ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;   
}

.footer-list {
    font-size: 1rem;
}

.footer-container{
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
}

.footer-top {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-top-info {
    font-size: 1.5rem;
    margin-bottom: .9rem;
    text-decoration: underline;
   
}

a {
    text-decoration: none;
    color: white;
}


a:hover {
    text-decoration:underline;
}

// google maps css below

    #map {
        position: relative; /* or position: static; */
        width: 20%;
        height: 200px;
        margin-top: 15px;
    }
    
    .footer-container {
        position: relative;
    }
    
    #map {
        bottom: 0;
        left: 0;
        right: 0;
    }
    