* {
    margin: 0;
    padding: 0;
}

// 



// form css beneath

.myForm {
	width: 80%;
	margin: auto;
	margin-top: 100px;
}
.comment-box {
	border: 1px solid #ccc;
	margin: 100px 0;
	padding: 10px 20px;
	text-align: left;
	h2 {
		text-align: center;
		margin: 20px;
	}
}
.comment-form {
	input {
		width: 100%;
		padding: 10px;
		margin: 15px 0;
		box-sizing: border-box;
		border: none;
		outline: none;
		background: #f0f0f0;
	}
	textarea {
		width: 100%;
		padding: 10px;
		margin: 15px 0;
		box-sizing: border-box;
		border: none;
		outline: none;
		background: #f0f0f0;
	}
	button {
		margin: 10px 0;
	}
}


// homepage css below

#homepage {
	width: 100vw;
}

.relevant-info-title {
	text-decoration: underline;
	font-size: 2rem;
	display: inline;
}

.p {
	font-size: 2rem;
}


.recent-booking-card {
	border: solid;
	margin:auto;
	margin-bottom: 2rem;
	margin-top: 3rem;
	width: 700px;
	  height: 500px;
}

.booking-title {
	font-size: 1.3rem;
	text-decoration: underline;
	margin: auto;
	text-align: center;
}

.important-info-list {
	list-style: circle;
}

section {
	width: 100%;
	margin: 0 auto;
	// margin-bottom: 150px;
	// padding: 40px;
	position: relative;
	//padding: 300px 50;
}

.homepage-info-booking-section {
	display: flex;
	box-sizing: border-box;
	background-color: grey;
}

.homepage-welcome-section {
	padding: 200px 0px ;
	background-color: beige;
	
}

.relevant-info {
	max-width: 100ch;
	margin: 0 auto;
}

.important-info-card, .important-booking-card {
	margin: 300px 100px ;
}

.important-booking-card {
	width: 50ch;
	border: solid;
	padding: 20px;

}

.important-booking-card li {
	margin-top: 10px;
}

.important-booking-card h2 {
	text-align: center;
}

.homepage-button {
	background-color: black;
	color: white;
}


