footer {
  font-size: 20px;
  line-height: 1.5;
  background-color: #464866;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

ul {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.footer-list {
  font-size: 1rem;
}

.footer-container {
  margin-left: 1rem;
  margin-right: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-top {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding-top: 3rem;
  margin-left: 50px;
  margin-right: 50px;
}

.footer-top-info {
  font-size: 1.5rem;
  margin-bottom: .9rem;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
}

.myForm {
  width: 80%;
  margin: auto;
  margin-top: 100px;
}

.comment-box {
  border: 1px solid #ccc;
  margin: 100px 0;
  padding: 10px 20px;
  text-align: left;
}

.comment-box h2 {
  text-align: center;
  margin: 20px;
}

.comment-form input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  background: #f0f0f0;
}

.comment-form button {
  margin: 10px 0;
}

#homepage {
  width: 100vw;
}

.relevant-info-title {
  text-decoration: underline;
  font-size: 2rem;
  display: inline;
}

.p {
  font-size: 2rem;
}

.recent-booking-card {
  border: solid;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  width: 700px;
  height: 500px;
}

.booking-title {
  font-size: 1.3rem;
  text-decoration: underline;
  margin: auto;
  text-align: center;
}

.important-info-list {
  list-style: circle;
}

section {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.homepage-info-booking-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: grey;
}

.homepage-welcome-section {
  padding: 200px 0px;
  background-color: beige;
}

.relevant-info {
  max-width: 100ch;
  padding: 0 25%;
}

.important-info-card, .important-booking-card {
  margin: 300px 100px;
}

.important-booking-card {
  width: 50ch;
  border: solid;
  padding: 20px;
}

.important-booking-card li {
  margin-top: 10px;
}

.important-booking-card h2 {
  text-align: center;
}

.homepage-button {
  background-color: black;
  color: white;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-color: black;
  width: 100vw;
  padding: 20px 0;
  font-size: 20px;
  top: 0;
}

.nav_links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.nav_links ul li {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav_links ul li a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

.nav_links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav_links ul li:hover::after {
  width: 100%;
}

#leftlink {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

#leftlink a {
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

#leftlink::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#leftlink:hover::after {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */